@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {

  background-color: #f5f5f5;
  padding: 0.5rem;
}

#energyChart {
  width: 100%;
  /* height: 52rem; */
  padding-top: 1rem;
}

.datesGraph.hide{

  display: none;
}

.header {

  /* background-color: #606469; */
  background-color: rgb(58, 112, 237);
  height: 4ev;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  margin: -1rem -1rem 1rem -1rem;
  width: auto;
}

.header h2 {

  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: auto;
  padding: .5rem;
}

.bodyMonitor .rowBodyMonitor {

  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.bodyMonitor .rowBodyMonitor_graph {

  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  /* height: 42rem; */
}

.cardHeader{

  background-color: #3866f2;
  margin-top: -16px;
  margin-left: -16px;
  margin-right: -16px;
  border-radius: 1rem 1rem 0 0;
}

.bodyMonitor .rowBodyMonitor .cardHeader h4,
.bodyMonitor .rowBodyMonitor_graph .cardHeader h4 {

  font-size: 1rem;
  /* margin: .5rem 0 0 0; */
  margin: 0 0 -5px 0;
  /* color: #3866f2; */
  /* color: #575757; */
  /* color: #706c6c; */
  color: #fff;
  margin-left: .7rem;
  padding: 0.35rem 0;
}

.bodyMonitor .rowBodyMonitor .card,
.bodyMonitor .rowBodyMonitor_graph .card,
.bodyMonitor .rowBodyMonitor_graph .card_graph {

  background-color: #fff;
  border-radius: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  height: auto;
  border: 1px solid #e7e7e7;
  /* padding: 0.5rem; */
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.bodyMonitor .rowBodyMonitor_graph .card_graph {

  width: 100%;
}

.bodyMonitor .rowBodyMonitor .card hr,
.bodyMonitor .rowBodyMonitor_graph .card hr,
.bodyMonitor .rowBodyMonitor_graph .card_graph hr {

  border: 1px solid #e7e7e7;
  width: 100%;
}

/* .bodyMonitor .rowBodyMonitor_graph .infoGroup {

  width: 20%;
} */

.formGroup {
  margin: 2rem 0 0 0;
  position: relative;
  --color: #5757577e;
  display: flex;
  gap: 2rem;
}

.formGroup.btnActions {
  justify-content: flex-end;
  /* width: 98%; */
  margin: 0;
  gap: 0.3rem;
}

.formGroup.btnActions .btnPrimary {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #e7e7e7;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  font-weight: bold;
  color: #fff;
  background-color: #3866f2;
  ;
}

.formGroup.btnActions .btnSecondary {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #e7e7e7;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  font-weight: bold;
  color: #fff;
  background-color: #5757577e;
}

.cardBody {
  text-align: center;
  /* padding: 1.5rem 0 0rem 0; */
}

.totalsCard .cardBody {
  display: flex;
  gap: 0.5em;
  justify-content: center;
}

/* .errorDates{

  color: red;
  font: monospace;
} */

span.errorDates{

  display: none;
}

span.errorDates.show{
  color: red;
  display: inline;
}

@keyframes typing{
  from { width: 0; }
}

@keyframes blink{
  50% { border-color: transparent; }
}

.label_wh {
  font-size: 1.2rem;
  font-weight: bold;
  /* color: #575757; */
  margin: 1.8rem 0 0 0;
  color: #706c6c;
}

.kwh_Value {
  font-size: 2rem;
  font-weight: bold;
  color: #706c6c;
  ;
  margin: 1.5rem 0 0 0;
}

/* Table Stylish */

/* .tblDesglose{
  height: 20% !important;
}

.tblDesglose .cardBody{
  overflow-y: scroll; height: 85%;
} */

/* .content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
} */

#tablaDesglose {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 1rem;
}

#tablaDesglose thead tr th,
#tablaDesglose tbody tr td {

  vertical-align: top;
  border: 1px solid #3866f27e;
  border-collapse: collapse;
  border-spacing: 0;
}

#tablaDesglose thead tr {

  background-color: #3866f2;
  color: #ffffff;
}

#tablaDesglose tbody tr {

  border-bottom: 1px solid #dddddd;
  text-align: center;
}

#tablaDesglose tbody tr:last-of-type {
  border-bottom: 1px solid #3866f29e;
}

/* END */

p {
  margin: 0 1rem 0 1rem;
  font-size: .90rem;
  font-weight: 600;
  /* color: #575757; */
  color: #000;
}

select {
  width: 98%;
  font-family: inherit;
  font-size: 1rem;
  color: #706c6c;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
  background-color: #fff;
}

input {
  width: 96%;
  font-family: inherit;
  font-size: 1rem;
  color: #706c6c;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
}

label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform .5s, color .3s;
}

input:focus+label,
input:not(:placeholder-shown)+label,
select:focus+label,
select:not(:placeholder-shown)+label {
  transform: translateY(-12px) scale(.7);
  transform-origin: top left;
  color: #3866f2;
}

.headerPrint{
  display: none;
}

@media print {

  body{

    padding: 0.2rem !important;
    margin: 0.2rem !important;
  }

  #tablaDesglose {
    border-radius: 0;
  }

  #tablaDesglose thead tr th,
  #tablaDesglose tbody tr td {

    border: 1px solid #000;
    color: #000;
  }

  #tablaDesglose thead tr th{
    font-size: 10.5px !important;
  }

  #tablaDesglose tbody tr td{
    font-size: 9.5px !important;
  }

  #tablaDesglose tbody tr:last-of-type {
    border-bottom: 1px solid #000;
  }

  .headerPrint{
    display: flex;
    justify-content: space-around;
    padding: 0 0 1rem 0;
  }

  .headerPrint .valuePrint{
    margin-left: -0.5rem;
    font-weight: 500;
  }

  .headerPrint div{
    display: flex;
  }

  .headerPrint div p{

    font-size: 13px;
  }

  .cardHeader{
    display: none;
  }

  .rowBodyMonitor{
    display: none !important;
  }

  .bodyMonitor .rowBodyMonitor_graph .card_graph {
    width: 96% !important;
  }

  .card_graph {
    box-shadow: none !important;
    /* box-shadow: 0px 0px 0px rgb(0 0 0 / 0%); */
  }

  .totConsumo{
    width: 25% !important;
    height: 0% !important;
    padding: 0 !important;
  }

  .header h2{
    color: #000;
    font-size: 23px;
  }

  .totConsumo .cardHeader h4,
  .totConsumo .cardBody p{
    font-size: 0.8rem !important;
    padding: 0 !important;
    color: #000;
  }

  #energyChart {
    width: 96% !important;
    height: 17rem !important;
    padding: 0;
  }

  .bodyMonitor .rowBodyMonitor_graph {
    display: contents;
  }

  .bodyMonitor .rowBodyMonitor_graph .card_graph {
    width: 99%;
  }

  .bodyMonitor .rowBodyMonitor_graph .infoGroup {
    display: contents;
  }
}

/**  * @author: Carlos Omar Anaya Barajas  * @date: 2022-11-28 11:03:24  * @param:   * @return:  * @desc:   */

@media screen and (max-width: 1919px) and (orientation: portrait) {
  
  #energyChart {
    height: 4ev !important
  }

  .header h2 {

    font-size: 18px;
    text-align: center;
  }

  .bodyMonitor .rowBodyMonitor {
    flex-wrap: wrap;
  }

  input,
  select,
  /* label, */
  button{

    font-size: 0.7rem;
  }

  .bodyMonitor .rowBodyMonitor .cardHeader h4,
  .bodyMonitor .rowBodyMonitor_graph .cardHeader h4 {

    font-size: .7rem !important;
  }

  .kwh_Value {
    font-size: 1rem;
    margin: 1rem 0 0 0;
    padding-top: .5rem;
  }

  .label_wh {
    font-size: .7rem;
    margin: 1.1rem 0 0 0;
    padding-top: .5rem;
  }
}

@media screen and (max-height: 865px) and (orientation: landscape) {
 
  #energyChart {
    height: 52ev !important
  }

  .header h2 {

    font-size: 18px;
    text-align: center;
  }

  input,
  select,
  /* label, */
  button{

    font-size: 0.7rem;
  }

  .bodyMonitor .rowBodyMonitor .cardHeader h4,
  .bodyMonitor .rowBodyMonitor_graph .cardHeader h4 {

    font-size: .7rem !important;
  }

  .kwh_Value {
    font-size: 1rem;
    margin: 1rem 0 0 0;
    padding-top: 1rem;
  }

  .label_wh {
    font-size: .7rem;
    margin: 1.1rem 0 0 0;
    padding-top: 1rem;
  }
}