@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {

  background-color: #f5f5f5;
  padding: 0.5rem;
}

#energyChart {
  width: 100%;
  height: 100% !important;
}

.header {

  /* background-color: #606469; */
  background-color: rgb(58, 112, 237);
  height: 4rem;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  margin: -1rem -1rem 1rem -1rem;
  width: auto;
}

.header h2 {

  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: auto;
  padding: .5rem;
}

.bodyMonitor .rowBodyMonitor {

  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.bodyMonitor .rowBodyMonitor_graph {

  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 99%;
  /* height: 42rem; */
}

.bodyMonitor .rowBodyMonitor .cardHeader h4,
.bodyMonitor .rowBodyMonitor_graph .cardHeader h4 {

  /* margin: .5rem 0 0 0; */
  margin: 0 0 -5px 0;
  /* color: #3866f2; */
  /* color: #575757; */
  color: #706c6c;
}

.bodyMonitor .rowBodyMonitor .card,
.bodyMonitor .rowBodyMonitor_graph .card,
.bodyMonitor .rowBodyMonitor_graph .card_graph {

  background-color: #fff;
  border-radius: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  height: auto;
  border: 1px solid #e7e7e7;
  padding: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.bodyMonitor .rowBodyMonitor_graph .card_graph {

  width: 80%;
}

.bodyMonitor .rowBodyMonitor .card hr,
.bodyMonitor .rowBodyMonitor_graph .card hr,
.bodyMonitor .rowBodyMonitor_graph .card_graph hr {

  border: 1px solid #e7e7e7;
  width: 100%;
}

.bodyMonitor .rowBodyMonitor_graph .infoGroup {

  width: 20%;
}

.formGroup {
  margin: 1.5rem 0;
  position: relative;
  --color: #5757577e;
  display: flex;
  gap: 2rem;
}

.formGroup.btnActions {
  justify-content: flex-end;
  width: 98%;
  margin: 1.5rem 0 0.1rem 0;
  gap: 0.3rem;
}

.formGroup.btnActions .btnPrimary {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #e7e7e7;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  font-weight: bold;
  color: #fff;
  background-color: #3866f2;
  ;
}

.formGroup.btnActions .btnSecondary {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #e7e7e7;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  font-weight: bold;
  color: #fff;
  background-color: #5757577e;
}

.cardBody {
  text-align: center;
}

.totalsCard .cardBody {
  display: flex;
  gap: 0.5em;
  justify-content: center;
}

/* .errorDates{

  color: red;
  font: monospace;
} */

span.errorDates{

  display: none;
}

span.errorDates.show{
  color: red;
  display: inline;
}

@keyframes typing{
  from { width: 0; }
}

@keyframes blink{
  50% { border-color: transparent; }
}

.kwh {
  font-size: 1.2rem;
  font-weight: bold;
  /* color: #575757; */
  margin: 1.3rem 0 0 0;
  color: #706c6c;
}

.kwh_Value {
  font-size: 2.5rem;
  font-weight: bold;
  color: #706c6c;
  ;
  margin: 1rem 0 1rem 0;
}

/* Table Stylish */

/* .tblDesglose{
  height: 20% !important;
}

.tblDesglose .cardBody{
  overflow-y: scroll; height: 85%;
} */

/* .content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
} */

#tablaDesglose {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  /* border-radius: 10px; */
}

#tablaDesglose thead tr th,
#tablaDesglose tbody tr td {

  vertical-align: top;
  border: 1px solid #3866f27e;
  border-collapse: collapse;
  border-spacing: 0;
}

#tablaDesglose thead tr {

  background-color: #3866f2;
  color: #ffffff;
}

#tablaDesglose tbody tr {

  border-bottom: 1px solid #dddddd;
}

#tablaDesglose tbody tr:last-of-type {
  border-bottom: 2px solid #3866f29e;
}

/* END */

p {
  margin: 0 1rem 0 1rem;
  font-size: .80rem;
  font-weight: 600;
  /* color: #575757; */
  color: #000;
}

select {
  width: 98%;
  font-family: inherit;
  font-size: 1rem;
  color: #706c6c;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
  background-color: #fff;
}

input {
  width: 96%;
  font-family: inherit;
  font-size: 1rem;
  color: #706c6c;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
}

label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform .5s, color .3s;
}

input:focus+label,
input:not(:placeholder-shown)+label,
select:focus+label,
select:not(:placeholder-shown)+label {
  transform: translateY(-12px) scale(.7);
  transform-origin: top left;
  color: #3866f2;
}

@media print {

  .bodyMonitor .rowBodyMonitor .card,
  .bodyMonitor .rowBodyMonitor_graph .card,
  .bodyMonitor .rowBodyMonitor_graph .card_graph {

    box-shadow: none;
  }

  #toolBox {

    display: none;
  }

  #energyChart {
    width: 100% !important;
    height: auto !important;
  }

  .bodyMonitor .rowBodyMonitor_graph {
    display: contents;
  }

  .bodyMonitor .rowBodyMonitor_graph .card_graph {
    width: 99%;
  }

  .bodyMonitor .rowBodyMonitor_graph .infoGroup {
    display: contents;
  }
}